@import "../../app/globals.scss";

.about-container {
    height: calc(100vh - 100px);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .custom-divider {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 20px 0;


        .divider-line {
            flex-grow: 1;
            height: 1px;
            background-color: #ccc;
        }

        .divider-label {
            margin: 0 10px;
            font-size: 2rem;
            color: #05c56c;

            @include mobile {
                font-size: 1.3rem;
            }
        }
    }

    .bio {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        max-width: 100%;
        margin: auto;
        padding: 10rem;

        @include mobile {
            display: block;
            padding: 12px;
            margin: 1rem
        }

        .bio-desc {
            width: auto;
            padding-left: 4rem;
            padding-right: 4rem;
            margin: auto;

            @include mobile {
                width: 100%;
                padding: 0
            }

            .slidingTextContainer {
                font-size: 2rem;
                margin-top: 4rem;
                color: #FF8F8F;
                @include capasrimo-font;

                @include mobile {
                    display: none;
                }
            }

            

            h3 {
                font-size: 2rem;
                margin-bottom: 12px;
                color: #f0f8ff;
                @include playfair-font;

            }

            p {
                max-width: 28rem;
                margin-top: 1rem;
                text-align: left;
                font-weight: 400;
                color: #f0f8ff;
                line-height: 2rem;

                @include mobile {
                    max-width: auto;
                    margin-top: auto;
                    text-align: left;
                    color: #f0f8ff;
                    line-height: 1.5rem;
                }

                @include tablet {
                    max-width: auto;
                    margin-top: auto;
                    text-align: left;
                    font-weight: 500;
                    color: #f0f8ff;
                    line-height: 1.7rem;
                }
            }
        }

        .display-image {
         @include mobile{ margin-top: 1rem;}
            img {
                object-fit: cover;

                @include mobile {
                    height: 400px
                }
            }
        }


    }



}